[submodule "bundle/sparkup"]
	path = bundle/sparkup
	url = http://github.com/sophacles/vim-bundle-sparkup.git
[submodule "bundle/snipmate"]
	path = bundle/snipmate
	url = http://github.com/msanders/snipmate.vim.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = http://github.com/scrooloose/nerdtree.git
[submodule "bundle/supertab"]
	path = bundle/supertab
	url = http://github.com/ervandew/supertab.git
[submodule "bundle/vim-surround"]
	path = bundle/vim-surround
	url = http://github.com/tpope/vim-surround.git
[submodule "bundle/vim-taglist"]
	path = bundle/vim-taglist
	url = http://github.com/chrismetcalf/vim-taglist.git
